// Typography
$base-font    : 'PT Serif', Georgia, Times, 'Times New Roman', serif, 'Nanum Gothic Coding';
$alt-font     : 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif, 'Nanum Gothic Coding';
$heading-font : $alt-font;

// Colors
$accent-color : #b00d23;